<template>
   <div id="carousel" class="container-fluid gx-0">
      <slider :images="shoe.images.map(image => `${apiUrl}/shoe/${shoe.id}/image/${image.id}`)" />
   </div>
   <div class="container text-white mt-3 pb-5">
      <h1>{{ shoe.brand || shoe.name }}</h1>
      <h2 v-if="shoe.brand && shoe.name">{{ shoe.name }}</h2>

      <div class="row mb-3">
         <div class="col-12 mb-3" v-if="shoe.shelf">
            <strong>{{shoe.shelf}}</strong><br/><span v-if="shoe.shelf_row">Reihe {{shoe.shelf_row}}</span> <span v-if="shoe.shelf_position">Position {{shoe.shelf_position}}</span>
         </div>
         <div class="col-6">
            Bewertung<br/>
            <stars :rating="shoe.rating" :of="5" />
         </div>
         <div class="col-6">
            Bequemlichkeit<br/>
            <stars :rating="shoe.comfort" :of="5" />
         </div>
      </div>

      <div class="row mb-3">
         <div class="col-6">
            <strong>Absatz</strong><br/>
            {{ height }}
         </div>
         <div class="col-6">
            <strong>Stil</strong><br/>
            {{ style }}
         </div>
      </div>

      <div class="row mb-3">
         <div class="col-6">
            <strong>Preis</strong><br/>
            {{ currency(shoe.price) }}
         </div>
         <div class="col-6">
            <strong>Bezahlt</strong><br/>
            {{ currency(shoe.paid) }}
         </div>
      </div>

      <div class="row mb-3">
         <div class="col-6" v-for="color in colors" :key="`color_${color.name}`">
            <i class="fa fa-square" :style="{color:color.hex}" /> {{ color.name }}
         </div>
      </div>

      <div class="row mb-3">
         <div class="col-12" v-if="shoe.comment">
            {{ shoe.comment }}
         </div>
      </div>

      <div class="row bg-dark py-3 buttons">
         <div class="col-12 d-flex justify-content-between">
            <router-link to="/" class="btn btn-primary">Zurück</router-link>
            <router-link :to="`/edit/${shoe.id}`" class="btn btn-success">Bearbeiten</router-link>
            <button class="btn btn-danger" @click="deleteShoe">Löschen</button>
         </div>
      </div>
   </div>

</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Slider from '@/components/Slider.vue';
import Stars from '@/components/Stars.vue';
import { api } from '@/utils';
import router from '@/router';
import { Color, colors, Shoe } from './Edit.vue';

export default defineComponent({
   name: 'Detail',
   components: {
      Slider,
      Stars
   },
   data: () => ({
      shoe: { images: [] } as Partial<Shoe>,
      apiUrl: process.env.VUE_APP_API_URL,
      height: '' as string,
      style: '' as string,
      colors: [] as Color[]
   }),
   methods: {
      currency(price: number): string {
         if (typeof price === 'undefined' || price === null) {
            return '-';
         }
         return price.toFixed(2) + '€';
      },
      async deleteShoe() {
         await api(`${this.apiUrl}/shoe/${this.$route.params.id}`, 'DELETE');
         router.back();
      }
   },
   mounted: async function() {
      this.shoe = await api(`${this.apiUrl}/shoe/${this.$route.params.id}`);
      this.shoe.tags?.forEach(tag => {
         if (['Flach', 'Hoch'].includes(tag.name)) {
            this.height = tag.name;
         }
         if (['Offen', 'Geschlossen'].includes(tag.name)) {
            this.style = tag.name;
         }
      });
      this.colors = colors.filter(color => this.shoe.tags?.map(t => t.name).includes(color.name));
   }
});
</script>

<style scoped lang="scss">
   .buttons {
      width: 100%;
      position: fixed;
      bottom: 0;
   }
</style>
