<template>
   <div class="overview container">
      <h1 class="my-3 text-white">{{add ? 'Neuer Schuh' : 'Schuh bearbeiten' }}</h1>
      <div class="form row">
         <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
               <input type="text" class="form-control" id="brand" v-model="shoe.brand" placeholder="Adidas">
               <label for="brand">Marke</label>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
               <input type="text" class="form-control" id="name" v-model="shoe.name" placeholder="Superstar">
               <label for="name">Name</label>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
               <input class="form-control" id="paid" type="number" v-model="shoe.paid" placeholder="5"/>
               <label for="paid">Bezahlt</label>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
               <input class="form-control" id="price" type="number" v-model="shoe.price" placeholder="30"/>
               <label for="price">Preis</label>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
               <input class="form-control" id="rating" type="number" min="0" max="5" step="0.1" v-model="shoe.rating" placeholder="5"/>
               <label for="rating">Punkte (von 5)</label>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
               <input class="form-control" id="comfort" type="number" min="0" max="5" step="0.1" v-model="shoe.comfort" placeholder="5"/>
               <label for="comfort">Bequemlichkeit</label>
            </div>
         </div>
         <div class="col-12">
            <div class="form-floating mb-3">
               <textarea class="form-control" id="comment" v-model="shoe.comment" placeholder="Lala" style="height: 100px"></textarea>
               <label for="comment">Kommentar</label>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
               <input type="date" class="form-control" id="date" v-model="shoe.bought"  placeholder="YYYY-MM-DD">
               <label for="date">Gekauft</label>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
               <select class="form-select" id="height" v-model="selects.height" @change="changeSelect" aria-label="Absatz">
                  <option selected value="Flach">Flach</option>
                  <option value="Hoch">Hoch</option>
               </select>
               <label for="height">Absatz</label>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
               <select class="form-select" id="style" v-model="selects.style" @change="changeSelect" aria-label="Stil">
                  <option selected value="Geschlossen">Geschlossen</option>
                  <option value="Offen">Offen</option>
               </select>
               <label for="style">Stil</label>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
               <select class="form-select" id="shelf" v-model="shoe.shelf_id" aria-label="Regal" >
                  <option></option>
                  <option v-for="shelf in shelfs" :value="shelf.id" :key="shelf.id">{{shelf.name}}</option>
               </select>
               <label for="shelf">Regal</label>
            </div>
         </div>
         <div class="col-6">
            <div class="form-floating mb-3">
               <input class="form-control" id="row" type="number" min="1" v-model="shoe.shelf_row" placeholder="Reihe"/>
               <label for="row">Reihe</label>
            </div>
         </div>
         <div class="col-6">
            <div class="form-floating mb-3">
               <input class="form-control" id="position" type="number" min="1" v-model="shoe.shelf_position" placeholder="Position"/>
               <label for="position">Position</label>
            </div>
         </div>

         <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
               <select class="form-select" id="owner" v-model="shoe.owner" aria-label="Besitzer" >
                  <option></option>
                  <option v-for="owner in owners" :value="owner.email" :key="owner.email">{{owner.name}}</option>
               </select>
               <label for="owner">Besitzer</label>
            </div>
         </div>

         <div class="col-12 col-md-6 text-white" style="column-count: 2">
            <div class="form-check" v-for="color in colorTags" :key="`color_${color.data.name}`">
               <input class="form-check-input" type="checkbox" :id="`color_${color.data.name}`" :value="color.data" v-model="shoe.tags">
               <label class="form-check-label d-block pb-2" :for="`color_${color.data.name}`">
                  <i class="fa fa-square" :style="`color: ${color.hex}`" /> {{color.data.name}}
               </label>
            </div>
         </div>

         <div class="col-12">
            <span class="badge rounded-pill bg-primary me-2 mb-2" @click="removeTag(index)" v-for="(tag, index) in shoe.tags" :key="index">{{ tag.name || tag }}</span>

            <div class="form-floating input-group mb-3">
               <input type="text" class="form-control" id="tag" v-model="tag" placeholder="Weiß" @keyup.enter="addTag">
               <label for="tag" style="z-index: 5">Tags</label>
               <div class="input-group-append">
                  <button class="btn btn-primary" type="button" style="height: 100%" @click="addTag">Hinzufügen</button>
               </div>
            </div>
         </div>

         <div class="col-12">
            <button class="btn btn-primary" @click="addFiles()">neue Bilder</button>
            <input class="d-none" type="file" multiple @change="fileSelected" accept="image/jpeg" :ref="el => fileInput = el" />
            <div class="d-flex flex-wrap my-3 justify-content-between images" style="margin-left: -.25rem; margin-right: -.25rem;">
               <div v-for="(image, i) in shoe.images" :key="image.id" class="position-relative m-2 shadow" @dragover="ev => ev.preventDefault()" @drop="dropped(i)">
                  <img :src="`${apiUrl}/shoe/${shoe.id}/image/${image.id}/600`" draggable="true" @dragstart="ev => dragging = i" height="150" />
                  <button class="position-absolute top-0 end-0 m-2 btn btn-small btn-danger" @click.prevent="deleteImage(image.id)"><i class="fa fa-trash-alt" /></button>
                  <button class="position-absolute bottom-0 start-0 m-2 btn btn-small btn-primary" style="width: 40px; height: 40px" v-if="i > 0" @click.prevent="move(true, i)"><i class="fa fa-angle-left" /></button>
                  <button class="position-absolute bottom-0 end-0   m-2 btn btn-small btn-primary" style="width: 40px; height: 40px" v-if="i < shoe.images.length - 1" @click.prevent="move(false, i)"><i class="fa fa-angle-right" /></button>
               </div>
               <div v-for="(file, i) in files" :key="file.name" class="position-relative m-2 shadow" style="opacity: .5">
                  <img :src="file.thumbData" height="150" />
                  <button class="position-absolute top-0 end-0 m-2 btn btn-small btn-danger" @click.prevent="deleteUpload(i)"><i class="fa fa-trash-alt" /></button>
               </div>
            </div>
         </div>
      </div>

      <div class="d-flex justify-content-between">
         <router-link :to="this.add ? '/' : `/detail/${this.shoe.id}`" class="btn btn-primary mb-3">Zurück</router-link>
         <button @click="save" class="btn btn-primary mb-3">{{ files.length ? 'Hochladen / ' : '' }} Speichern</button>
      </div>
   </div>
</template>

<script lang="ts">
import router from '@/router';
import { api } from '@/utils';
import { defineComponent } from 'vue';
import { Notyf } from 'notyf';
import 'notyf/notyf.min.css';
const notyf = new Notyf({
   duration: 1000,
});

interface FileEntry {
   file: File;
   thumbData: string;
}

interface Image {
   id: number;
}

export interface Tag {
   id?: number;
   name: string;
}

export interface Shoe {
   id: number;
   brand: string;
   name: string;
   images: Image[];
   tags: Tag[];
   owner: string;
   shelf_position: number,
   shelf_row: number,
   price: number,
   paid: number
}

export interface Color {
   name: string,
   hex: string,
   id?: number
}

interface Shelf {
   id: number,
   name: string
}

export let colors: Color[] = [
   {
      name: 'Beige',
      hex: '#e0d0c8'
   },
   {
      name: 'Blau',
      hex: '#284573'
   },
   {
      name: 'Braun',
      hex: '#996329'
   },
   {
      name: 'Camouflage',
      hex: '#30631a'
   },
   {
      name: 'Gelb',
      hex: '#f0ec1f'
   },
   {
      name: 'Gold',
      hex: '#edbc0c'
   },
   {
      name: 'Grau',
      hex: '#949494'
   },
   {
      name: 'Grün',
      hex: '#51ab1d'
   },
   {
      name: 'Leo',
      hex: '#c49a25'
   },
   {
      name: 'Lila',
      hex: '#9a2eb0'
   },
   {
      name: 'Orange',
      hex: '#ff8614'
   },
   {
      name: 'Pink',
      hex: '#ff2be6'
   },
   {
      name: 'Rosa',
      hex: '#faa5f0'
   },
   {
      name: 'Rosegold',
      hex: '#bf774d'
   },
   {
      name: 'Rot',
      hex: '#d41717'
   },
   {
      name: 'Schlangenoptik',
      hex: '#1a3d18'
   },
   {
      name: 'Schwarz',
      hex: '#000000'
   },
   {
      name: 'Silber',
      hex: '#acb9bf'
   },
   {
      name: 'Weiß',
      hex: '#ffffff'
   }
];

export default defineComponent({
   name: 'Overview',
   data: () => ({
      shoe: {
         tags: [{name: 'Flach'}, {name: 'Geschlossen'}] as Tag[],
         shelf_position: 1,
         shelf_row: 1,
         owner: 'v.wicht01@gmail.com'
      } as Shoe,
      shelfs: [] as Shelf[],
      files: [] as FileEntry[],
      fileInput: null as HTMLInputElement | null,
      dragging: -1 as number,
      tag: null as string | null,
      apiUrl: process.env.VUE_APP_API_URL,
      colors: colors as Color[],
      selects: {
         style: '',
         height: ''
      },
      owners: [
         {
            name: 'Schatziii',
            email: 'v.wicht01@gmail.com'
         },
         {
            name: 'Andi',
            email: 'nd1312@gmail.com'
         }
      ]
   }),
   methods: {
      changeSelect() {
         const selects: string[] = Object.values(this.selects);
         this.shoe.tags = this.shoe.tags.filter(t => !['Flach', 'Hoch', 'Offen', 'Geschlossen'].includes(t.name))
         selects.filter(n => n !== '').forEach(name => {
            this.shoe.tags.push({name})
         });
      },
      async save() {
         let url = `${this.apiUrl}/shoe`;
         if (!this.add) {
            url += `/${this.shoe.id}`;
         }

         const responseData: Shoe = await api(url, this.add ? 'POST' : 'PATCH', this.shoe);

         if (this.files.length === 0) {
            notyf.success('gespeichert');

            if (this.add) {
               router.replace(`/edit/${responseData.id}`);
            }
            return;
         }

         const formData = new FormData();
         for (const file of this.files) {
            formData.append('files[]', file.file, file.file.name);
         }

         this.shoe = await api(`${this.apiUrl}/shoe/${responseData.id}/image`, 'POST', formData);
         notyf.success('gespeichert');

         this.files = [];

         if (this.add) {
            router.replace(`/edit/${this.shoe.id}`);
         }
      },
      async fileSelected(event: Event) {
         const el = event.target as HTMLInputElement;
         if (el.files === null) {
            return;
         }

         this.files = [];
         for (const file of Array.from(el.files)) {
            this.files.push({
               file,
               thumbData: await this.readDataUrl(file)
            });
         }
      },
      readDataUrl(file: File): Promise<string> {
         return new Promise(resolve => {
            const reader = new FileReader();
            reader.onload = (e: ProgressEvent<FileReader>) => {
               resolve(e.target!.result as string);
            };
            reader.readAsDataURL(file);
         });
      },

      async deleteImage(id: number) {
         this.shoe = await api(`${this.apiUrl}/shoe/${this.shoe.id}/image/${id}`, 'DELETE');
      },

      deleteUpload(index: number): void {
         this.files.splice(index, 1);
      },

      addFiles() {
         if (this.fileInput === null) {
            return;
         }
         this.fileInput.click();
      },

      addTag() {
         if (!this.tag) {
            return;
         }

         if (typeof this.shoe.tags === 'undefined') {
            this.shoe.tags = [];
         }
         this.shoe.tags.push({ name: this.tag });
         this.tag = null;
      },

      removeTag(index: number) {
         this.shoe.tags.splice(index, 1);
      },

      async dropped(i: number) {
         if (i === this.dragging) {
            this.dragging = -1;
            return;
         }

         const moveImage = this.shoe.images[this.dragging];
         this.shoe.images.splice(this.dragging, 1);
         this.dragging = -1;
         this.shoe.images.splice(i, 0, moveImage);

         this.shoe = await api(`${this.apiUrl}/shoe/${this.shoe.id}/image/sort`, 'PATCH', this.shoe.images);
      },

      async move(left: boolean, index: number) {
         const image = this.shoe.images.splice(index, 1)[0];
         this.shoe.images.splice(index + (left ? -1 : 1), 0, image);
         this.shoe = await api(`${this.apiUrl}/shoe/${this.shoe.id}/image/sort`, 'PATCH', this.shoe.images);
      }
   },
   computed: {
      add(): boolean {
         return this.$route.name === 'add';
      },
      colorTags(): any[] {
         let colorIds: {[key: string]: number} = {};
         if (typeof this.shoe.tags !== 'undefined') {
            this.shoe.tags.forEach(tag => {
               if (typeof tag.id === 'undefined') {
                  return;
               }
               colorIds[tag.name] = tag.id;
            });
         }
         return this.colors.map(color => {
            let nColor: {[key:string]: any} = {
               data: {
                  name: color.name
               },
               hex: color.hex
            };

            if (colorIds[color.name]) {
               nColor.data.id = colorIds[color.name];
            }
            return nColor;
         })
      }
   },
   mounted: async function() {
      this.shelfs = await api(`${this.apiUrl}/shelf`);
      if (!this.add) {
         this.shoe = await api(`${this.apiUrl}/shoe/${this.$route.params.id}`);
         this.shoe.tags.forEach(tag => {
            if (['Flach', 'Hoch'].includes(tag.name)) {
               this.selects.height = tag.name;
            }
            if (['Offen', 'Geschlossen'].includes(tag.name)) {
               this.selects.style = tag.name;
            }
         });
      }
   }
});
</script>
