<template>
   <div v-if="!token" class="text-center">
      <div id="my-signin2"></div>
   </div>
   <div class="overview d-flex text-white flex-column" v-if="token">
      <div class="container mb-3">
         <div class="row header">
            <div class="col-12 my-3 d-flex align-items-center">
               <button class="btn btn-primary " @click="showSearch = !showSearch">
                  <i class="fa fa-search" :class="{ 'd-none': showSearch }"></i>
                  <i class="fa fa-search" :class="{ 'd-none': !showSearch }"></i>
               </button>

               <button class="btn btn-primary btn btn-primary ms-2" @click="grid = !grid">
                  <i class="fa fa-th-large" :class="{ 'd-none': grid }"></i>
                  <i class="fa fa-square" :class="{ 'd-none': !grid }"></i>
               </button>

               <button class="btn btn-primary btn btn-primary ms-2" @click="switchOwner">
                  <span :class="{ 'd-none': owner !== 'nd1312@gmail.com' }">🙋‍♂️</span>
                  <span :class="{ 'd-none': owner !== 'v.wicht01@gmail.com' }">🙋‍♀️</span>
               </button>

               <div class="mx-2 flex-grow-1" style="font-size: .8rem; line-height: .8rem">
                  {{ shoeCount }}<br/>
                  <div>Preis: <span class="float-end">{{ overallPrice.price }}</span></div>
                  <div>Gezahlt: <span class="float-end">{{ overallPrice.paid }}</span></div>
               </div>

               <router-link to="/add" class="btn btn-success ms-auto"
                  ><i class="fa fa-plus"
               /></router-link>
            </div>
         </div>

         <div class="row" v-if="showSearch">
            <div class="col-12">
               <span
                  class="badge rounded-pill bg-primary me-2 mb-2"
                  @click="removeTag(index)"
                  v-for="(tag, index) in tags"
                  :key="index"
                  >{{ tag.name || tag }}</span
               >

               <div class="form input-group mb-2">
                  <input
                     type="text"
                     class="form-control"
                     id="tag"
                     v-model="tag"
                     placeholder="Suche"
                     @keyup.enter="addTag"
                  />
                  <div class="input-group-append">
                     <button
                        class="btn btn-primary"
                        type="button"
                        style="height: 100%"
                        @click="addTag"
                     >
                        <i class="fa fa-search"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>

         <div class="row mb-2" v-if="!showSearch">
            <div class="col-4">
               <button class="btn btn-primary w-100 px-0" :class="{active:tab===0}" @click="tab = tab === 0 ? null : 0">{{ tagCount('color') }}Farben</button>
            </div>
            <div class="col-4">
               <button class="btn btn-primary w-100 px-0" :class="{active:tab===1}" @click="tab = tab === 1 ? null : 1">{{ tagCount('height') }}Absatz</button>
            </div>
            <div class="col-4">
               <button class="btn btn-primary w-100 px-0" :class="{active:tab===2}" @click="tab = tab === 2 ? null : 2">{{ tagCount('style') }}Stil</button>
            </div>
         </div>

         <div class="row" v-if="!showSearch">
         <div class="col-12 text-white" style="column-count: 2" v-if="tab === 0">
            <div class="form-check" v-for="color in colors" :key="`color_${color.name}`">
               <input class="form-check-input" type="checkbox" :id="`color_${color.name}`" :value="{name: color.name}" v-model="tags">
               <label class="form-check-label d-block pb-2" :for="`color_${color.name}`">
                  <i class="fa fa-square" :style="`color: ${color.hex}`" /> {{color.name}}
               </label>
            </div>
         </div>
         <div class="col-12" v-if="tab === 1">
            <div class="form-check" v-for="height in ['Flach', 'Hoch']" :key="`height_${height}`">
               <input class="form-check-input" type="checkbox" :id="`height_${height}`" :value="{name: height}" v-model="tags">
               <label class="form-check-label d-block pb-2" :for="`height_${height}`">
                  {{height}}
               </label>
            </div>
         </div>
         <div class="col-12" v-if="tab === 2">
            <div class="form-check" v-for="style in ['Offen', 'Geschlossen']" :key="`style_${style}`">
               <input class="form-check-input" type="checkbox" :id="`style_${style}`" :value="{name: style}" v-model="tags">
               <label class="form-check-label d-block pb-2" :for="`style_${style}`">
                  {{style}}
               </label>
            </div>
         </div>
      </div>
      </div>
      <div class="flex-grow-1 container position-relative">
         <div class="row position-absolute w-100 h-100 overflow-auto" v-if="filteredShoes.length">
            <div
               :class="`col-${grid ? '6' : '12'}`"
               class="mb-4"
               v-for="shoe in filteredShoes"
               :key="shoe.id"
            >
               <shoe-component :shoe="shoe" :wide="!grid" />
            </div>
         </div>
      </div>
   </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ShoeComponent from '@/components/Shoe.vue';
import { Color, colors, Shoe, Tag } from './Edit.vue';
import {api} from '@/utils';

export default defineComponent({
   name: 'Overview',
   components: {
      ShoeComponent
   },
   data: () => ({
      shoes: [] as Shoe[],
      grid: true,
      showSearch: false,
      apiUrl: process.env.VUE_APP_API_URL,
      tag: null as string | null,
      tags: [] as Tag[],
      token: false as boolean,
      colors: colors as Color[],
      tab: null as number | null,
      owner: localStorage.getItem('owner') || 'v.wicht01@gmail.com'
   }),
   methods: {
      addTag() {
         if (!this.tag) {
            return;
         }

         if (typeof this.tags === 'undefined') {
            this.tags = [];
         }
         this.tags.push({ name: this.tag });
         this.tag = null;
      },

      removeTag(index: number) {
         this.tags.splice(index, 1);
      },

      async search() {
         this.shoes = [];
         let tags = '';
         if (this.tags.length) {
            tags = '?search=';
            tags += this.tags.map(t => t.name).join(',');
         }
         this.shoes = (await api(`${this.apiUrl}/shoe${tags}`)) as Shoe[];
         /* for (let i = 0; i < 20; ++i) {
            this.shoes.push(r[1]);
         } */
      },

      switchOwner() {
         this.owner = this.owner === 'nd1312@gmail.com' ? 'v.wicht01@gmail.com' : 'nd1312@gmail.com';
         localStorage.setItem('owner', this.owner);
      },

      tagCount(type: 'color' | 'height' | 'style'): string {
         let searchNames: string[] = [];
         if (type === 'color') {
            searchNames = this.colors.map(c => c.name);
         } else if (type === 'height') {
            searchNames = ['Flach', 'Hoch'];
         } else if (type === 'style') {
            searchNames = ['Offen', 'Geschlossen'];
         }
         const count = this.tags.filter(t => searchNames.includes(t.name)).length;
         return count ? `(${count}) ` : '';
      }
   },
   computed: {
      filteredShoes(): Shoe[] {
         return this.shoes.filter(s => {
            const notFound = [];

            if (s.owner !== this.owner) {
               return false;
            }

            for (const searchTag of this.tags) {
               if (
                  !s.tags.filter(
                     shoeTag =>
                        shoeTag.name.toLowerCase() ===
                        searchTag.name.toLowerCase()
                  ).length
               ) {
                  notFound.push(searchTag);
               }
            }

            if (notFound.length === 0) {
               return true;
            }

            return false;
         });
      },
      unfilteredCount(): number {
         return this.shoes.filter(s => s.owner === this.owner).length;
      },
      shoeCount(): string {
         let strings = [];
         if (this.unfilteredCount !== this.filteredShoes.length) {
            strings.push(this.filteredShoes.length, 'von');
         }
         strings.push(this.unfilteredCount);
         let shoeString = 'Schuh';
         if (this.unfilteredCount > 1) {
            shoeString += 'e';

            if (this.unfilteredCount !== this.filteredShoes.length) {
               shoeString += 'n';
            }
         }
         strings.push(shoeString);
         return strings.join(' ');
      },
      overallPrice(): { price: string, paid: string } {
         if (!this.shoes || this.shoes.length === 0) {
            return {price: '', paid: ''};
         }

         return {
            price: Intl.NumberFormat('de-DE', { maximumFractionDigits: 2, minimumFractionDigits: 2 }).format(this.shoes.filter(s => s.owner === this.owner).map(s => s.price).reduce((prev, current) => prev + current)),
            paid:  Intl.NumberFormat('de-DE', { maximumFractionDigits: 2, minimumFractionDigits: 2 }).format(this.shoes.filter(s => s.owner === this.owner).map(s => s.paid).reduce((prev, current) => prev + current))
         }
      }
   },
   mounted: async function() {
      if (localStorage.getItem('token')) {
         this.token = true;
         this.search();
      }

      document.body.addEventListener('gapi', () => {
         this.token = true;
         this.search();
      });
   }
});
</script>
