<template>
   <div @click="open(shoe.id)" class="d-flex flex-column h-100">
      <slider :images="shoe.images.map(i => `${apiUrl}/shoe/${shoe.id}/image/${i.id}/${wide ? '1200' : '600'}`)" />
      <strong class="flex-grow-1">{{ shoe.brand }} {{ shoe.name }}</strong>
      <div>
         <stars :rating="shoe.rating" :of="5"></stars>
      </div>
   </div>
</template>

<script lang="ts">
import router from '@/router';
import { defineComponent } from 'vue';
import Slider from './Slider.vue';
import Stars from './Stars.vue';

export default defineComponent({
   components: { Slider, Stars },
   name: 'Shoe',
   props: {
      shoe: Object,
      wide: Boolean
   },
   data: () => ({
      apiUrl: process.env.VUE_APP_API_URL
   }),

   methods: {
      open() {
         if (typeof this.shoe?.id === 'undefined') {
            return;
         }
         router.push({ name: 'detail', params: { id: this.shoe.id } });
      }
   }
});
</script>
