<template>
   <div class="stars">
      <div>
         <i v-for="(n,index) in of" :key="index" class="fa fa-star" />
      </div>
      <div :style="width">
         <i v-for="(n,index) in of" :key="index" class="fa fa-star" />
      </div>
   </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
   props: {
      rating: Number as () => number,
      of: Number as () => number
   },
   computed: {
      width(): any {
         return { width: `${(this.rating ?? 0) / (this.of ?? 0) * 100}%` };
      }
   }
});
</script>

<style lang="scss" scoped>
   .stars {
      position: relative;
      display: inline-block;
      div {
         color: #888;
      }
      div + div {
         position: absolute;
         top: 0;
         color: gold;
         overflow: hidden;
         white-space: nowrap;
      }
   }
</style>
